<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>quimicAR</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/index.css" />
        <script src="js/jquery.js"></script>

    </head>
    
    <script>
    	
    	
    
    </script>
    
    <body>

        <div class="header-container">
            <header class="header-txt">quimicAR</header>
            <img class="header-img" src="./assets/atomo.png" alt="Atomo titulo"/>
        </div>

        <div class="atomo-container">

            <a href="http://localhost:8080/HidrogenioChoice">
                <button class="atomo" >
                    <label class="atomo-numatomico">1</label>
                    <label class="atomo-sigla">H</label>
                    <label class="atomo-nome">Hidrogênio</label>
                </button>
            </a>
            <a href="http://localhost:8080/BoroChoice" >
                <button id="boro">
                    <label class="atomo-numatomico">5</label>
                    <label class="atomo-sigla">B</label>
                    <label class="atomo-nome">Boro</label>
                </button>
            </a>
            <a href="http://localhost:8080/OxigenioChoice" >
                <button class="atomo">
                    <label class="atomo-numatomico">8</label>
                    <label class="atomo-sigla">O</label>
                    <label class="atomo-nome">Oxigênio</label>
                </button>
            </a>
            <a href="http://localhost:8080/FosforoChoice">
                <button class="atomo">
                    <label class="atomo-numatomico">15</label>
                    <label class="atomo-sigla">P</label>
                    <label class="atomo-nome">Fósforo</label>
                </button>
            </a>
        </div>
    </body>
</html>
