<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/CameraOuMarcador.css" />
        <script src="js/jquery.js"></script>
    </head>
    <body>
        <div class="header-container">
            <header class="header-txt">quimicAR</header>
            <img class="header-img" src="./assets/atomo.png" alt="Atomo titulo"/>
        </div>
        <div class="btns-container">

            <div class="btn-container">
                <a href="http://localhost:8080/BoroCamera">
                <button class="camera-btn"><img class="btn-img" src="assets/camera.png" alt="camera icon" /></button>
            	</a>
            </div>

            <label>ou</label>

            <div class="btn-container">
            	<a href="http://localhost:8080/Pattern-H">
                <button class="marcador-btn" ><img class="btn-img" src="assets/qrcode.png" alt="marcador icon"/></button>
            	</a>
            </div>

        </div>
    </body>

    <script>
		

		
    </script>
</html>
